<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You've Discovered My Secret!</h1>
        <% data.forEach(d => { %>
            <p class="secret-text"><%= d.secret %></p>
            <hr>
        <% }); %>

        <% if (logged) { %><a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a><% }
         else { %><a class="btn btn-light btn-lg" href="/login" role="button">Login</a><% } %>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>

<%- include('partials/footer') %>
